<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="applicationToken" value=""/>
    <add key="consumerKey" value=""/>
    <add key="consumerSecret" value=""/>
    <add key="oauthRequestTokenEndpoint" value="/get_request_token" />
    <add key="oauthAccessTokenEndpoint" value="/get_access_token" />
    <add key="oauthBaseUrl" value="https://oauth.intuit.com/oauth/v1" />
    <add key="oauthUserAuthUrl" value="https://appcenter.intuit.com/Connect/Begin" />
  </appSettings>
</configuration>